@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC&subset=latin,latin-ext);
$background: #1f073e;
$font: #9b9f9f;


body {
  background-color: $background;
  color: $font;
  font-family: 'Playfair Display SC', serif;
  @include outer-container;
}
header{
  padding-left: 20px;
  position: relative;
  @include span-columns(4);
  h1, h2{
    @include span-columns(4)
  }
  h1{
    font-size: 52px;
  }
  @include media($tablet) {
    h1{
      @include span-columns(8);
    }
    h2{
      @include span-columns(8);


    }
  }

}

nav{
  h3 {
    @include media($tablet) {
      display: none;
    }
  }
  ul {
    height: 0px;
    visibility: hidden;
    list-style: none;
    padding: 0px;
    li{
      display: inline-block;
      margin: 10px 15px;
      a {
        color: white;
        text-decoration: none;
      }
    }
    &.collapsed{
      visibility: visible;
      height: auto;
    }
  }
}

section{
  padding-left: 20px;
  h1{
    font-size: 20px;
  }
}
#slider{
  position: relative;
  display: none;
  @include media($tablet) {
    @include span-columns(8)
  }
  @include media($desktop) {
    @include span-columns(10)
  }
  #prev, #next{
    top: 100px;
    position: absolute;
  }
  #prev{
    left: 0px;
    @include triangle(40px 1.5rem, gray, left);
  }
  #next{
    right: 0px;

     @include triangle(40px 1.5rem, gray, right);
   }
  li {
    height: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    @include transition(all 1s linear);
    img {
      opacity: 0;
      width: 0;
      height: 0;
      @include transition(all 1.0s ease-in-out);
    }

    &.active{
      margin-right: 1%;
      height: auto;
      visibility: visible;
      display: inline-block;
      opacity: 1;
      @include transition(all 1.0s ease-in-out);
      img{
        opacity: 1;
        height: 200px;
        width: 100%;

      }
    }
  }
ul {
  text-align: center;
  list-style: none;
  padding: 0 20px;
  &.item-1{
    li.active {
      width: 100%!important;
    }
  }
  &.item-2{
    li.active {
      width: 45%!important;
    }
  }
  &.item-3{
    li.active{
      width: 30%!important;
    }
  }
  &.item-4{
    li.active{
      width: 23%!important;
    }
  }
  &.item-5{
    li.active{
    width: 18%!important;
  }}

}

}
#products {
  div{
    text-align: center;
    span{
      margin-right: 10px;
      &:before{
        content: '\2022';
        margin-right: 10px;
      }
      &:first-of-type
      {
        margin-right: 0px;
        &:before{
          content: '';
        }
      }
    }
  }
}

#open_hours{
margin-top: 40px;
  time{
    margin-bottom: 15px;
    display: block;
  }
}
#adress, #contact {
  @include span-columns(4);
  @include media ($tablet){
    @include span-columns(4);
  }

}

#adress {
  position: relative;
  margin: 10px 10px;
  padding: 10px 30px 90% 30px;
  text-align: center;
  @include media($tablet) {
    padding-bottom: 50%; // (450 ÷ 500 = 0.9 = 90%)
  }
  height: 0;
  overflow: hidden;
  min-height: 200px;
  iframe {
    position: absolute;
    top: 0;
    left: 15px;
    width: 90%;
    height: 100%;
  }
}

#contact{
  .adress, .phone_number, .payment, .email {
    display: block;
    margin-top: 10px
  }
  .phone_number span, .email a{
    font-size: 20px;
  }
  .email a{
    color: $font;
  }
  img{
    margin-top: 20px;
    width: 100%;
  }
}
